<div class="container about">
    <h3 class="pt-3 ">About iJavaScript</h3>
    <hr>
    <div class="text1">
        <img src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103595_1280.png" height="100px" 
                width="200px" class="img-thumbnail" alt="Cinque Terre">
        <p class="lead "><small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
           </small>
        </p>
    </div>

    <div class="pt-5 mt-2 reusable">
        <h5>Re-usable Components</h5>
        <div class="d-inline-flex " >
            <app-animation-component></app-animation-component>
            <app-animation-component></app-animation-component>
            <app-animation-component></app-animation-component>

        </div>
    </div>

</div>
