<div class="container team">
    <h3 class="pt-3 ">Meet The Team</h3>
    <hr>
    <div class="d-inline-flex">
        <ul style="list-style-type: none; " >
            <li *ngFor="let number of numbers">
                <div class="d-inline-flex">
                    <img src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103595_1280.png" height="40px" 
                        width="40px" class="rounded-circle" alt="user image">
                    <h6 class="p-3">Shubham Singh </h6>
                </div>
            </li>
           
        </ul>
        <app-animation-component class="reusable"></app-animation-component>
       
    </div>
</div>
